.cart-container {
  display: flex;
  position: absolute;
  margin-top: 100px;
  margin-left: 10px;
}
#cart-root {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.cart-sidebar {
  margin-top: 30px;
  margin-left: -1255px;
  width: 250px;
  background-color: #dbdada;
  padding: 15px;
  text-align: center;
}
.cart-head {
  background-color: goldenrod;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
}
.cart-foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #333;
}
