.header-container {
  display: flex !important;
  background-color: rgb(9, 12, 20) !important;
  padding: 10px 20px;
}
.title {
  font-size: 20px;
  color: aqua;
  text-transform: uppercase;
}
.cart-img-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  background-color: rgb(99, 77, 77);
  position: absolute;
  left: 90%;
}

.cart-img {
  height: 70px;
  width: 70px;
  background-size: 50%;
  background-repeat: no-repeat;
  margin-left: 5px;
  margin-top: 10px;
  position: absolute;
  background-image: url('../Images/cart-icon.png');
}

.cart-count {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid red;
  font-weight: 900;
  color: white;
  padding: 2px;
  margin-left: 1070px;
  margin-top: -10px;
  z-index: 10;
}
